@use 'variaveis';

.equipe {
    padding: 4.8vw;
    background-color: #212529;
    
    &__container {
        text-align: center;
        margin: 0 auto;
        max-width: 80%; 

        .title--small {
            font-family: variaveis.$fontSecundaria;
            margin-bottom:15px;
            color: variaveis.$corDourado;
        }

        .title--big {
            text-decoration: underline variaveis.$corVermelho;
            margin: 20px 0px;
            color: variaveis.$corDourado;
        }

        .text--big {
            margin: 40px 0px;
            color: variaveis.$corDourado;
        }
    }    
        .card-img-top {
            max-height: 460px;
            height: 100%;
            margin: 0 auto;
            box-shadow: 0 0 10px rgb(0,0,0,.2);
        }

        .card {
            padding: 1em .5em.5em;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0,0,0 ,.2);
        }
    
        .card-title {
            font-weight: bold;
            font-size: 2em;
            color: variaveis.$corDourado;
        }
}