@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: darken(#212529, 10%); 
    z-index: 3;

    &__title {
        font-family: variaveis.$fontprincipal;
        padding: 15px;
        font-weight: bold;
        color:variaveis.$corDourado;
    
        &__menu {
            font-size: 20px;
            color: variaveis.$corVermelho;
            cursor: pointer;

        }
    }

    &__container{
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 845px) {
            display: block;
            text-align: center;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media (max-width: 845px) {
            padding-left: 0;
            margin: 0;
        }

        @media (max-width: 573px) {
            display: block;
            text-align: center;
        }

        &__item {
            align-items: center;
            list-style: none;
            padding: 15px;
            font-size: 20px;

            &__link {
                color: variaveis.$corDourado;
                text-decoration: none;
                font-family: variaveis.$fontSecundaria;
                font-weight: bold;

                &:hover,
                &--is--active {
                    color: variaveis.$corVermelho;
                    transition: border-bottom .5s ease;
                    border-bottom: 2px solid variaveis.$corVermelho;
                }
            }
        }
    }
}

@media (max-width: 573px) {
    .header__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: darken(#212529, 10%);
        z-index: 1;
    

    &.active {
        display: flex;
    }
}
    .header__menu__item {
        margin: 0;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    .header__title__menu {
        display: block;
    }
}

@media (min-width: 574px) {
    .header__title__menu>i {
        display: none;
        visibility: none;
    }
}